<div class="container-sm text-center" style="margin-top:20px;"> 
  <div class="row" style="gap:20px;">
    <% if @error_message %>
      <p><%= @error_message %></p>
    <% else %>
<<<<<<< HEAD
      <% if @info.present? && @info.any? %>
        <% @info.each do |pelicula| %>

          <% if pelicula['poster_path'].present? %>
            <div class="col">
              <div class="card" style="width: 18rem;height:40rem;">
                <img src="<%= @link_img + pelicula['poster_path'] %>" class="card-img-top" alt="">
                <div class="card-body">
                  <% if pelicula['title'].present? %>
                    <h5 class="card-title"><%= pelicula['title'].upcase %></h5>
                  <% end %>
                  <% if pelicula['vote_average'].present? %>
                  <% @votos=pelicula['vote_average'].to_i.truncate / 2 %>
                  <% (1..5).each do |i| %>
                  <% if i <= @votos.to_i %>
      
                  <i class="fa fa-star fa-lg"></i>
                    <% end %>
                  <% end %>
                  <p class="card-text"><%= pelicula['vote_average'].to_i.truncate / 2 %>/5</p>
                  <% end %>
                  <div class="centrar" style="width: 100%;display:flex;justify-content:center;">
                    <% if pelicula['id'].present? %>
                      <%= link_to "Ver mas...", descripcion_path(parametro: pelicula['id']), class: 'btn btn-primary' %>
                    <% end %>
                  </div> 
                </div>
              </div>
            </div>
          <% end %>

          <div class="col">
            <div class="card" style="width: 18rem;height:40rem;">
              <% if pelicula['poster_path'].present? %>
                <img src="<%= @link_img + pelicula['poster_path'] %>" class="card-img-top" alt="">
              <% end %>
              <div class="card-body">
                <% if pelicula['title'].present? %>
                  <h5 class="card-title"><%= pelicula['title'].upcase %></h5>
                <% end %>
                <% if pelicula['vote_average'].present? %>
                  <p class="card-text"><%= pelicula['vote_average'].to_f.truncate %>/10</p>
                <% end %>
                <div class="centrar" style="width: 100%;display:flex;justify-content:center;">
                  <% if pelicula['id'].present? %>
                    <%= link_to "Ver mas...", descripcion_path(parametro: pelicula['id']), class: 'btn btn-primary' %>
                  <% end %>
                </div> 
              </div>
            </div>
          </div>

        <% end %>
      <% else %>
        <p>No se encontraron resultados</p>
      <% end %>
    <% end %>
  </div>
</div>
